mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(className, items, anchors, linkMod)
  nav(class=`${className} ` + (linkMod ? `${className}_${linkMod}` : ''))
    ul(class=`${className}__list ` + (linkMod ? `${className}__list_${linkMod}` : ''))
      - for (var i=0; i<items.length; i++) 
        li(class=`${className}__item ` + (linkMod ? `${className}__item_${linkMod}` : ''))
          a(class=`${className}__link ` + (linkMod ? `${className}__link_${linkMod}` : '') href=anchors[i])=items[i]


mixin socials(className, items, iconClassName, iconNames, links, linkMod)
  ul(class=`${className}__list `)
    - for (var i=0; i<items.length; i++) 
      li(class=`${className}__item ` + (linkMod ? `${className}__item_${linkMod}` : ''))
        a(class=`${className}__link ` + (linkMod ? `${className}__link_${linkMod}` : '') title=items[i] href=links[i] target="_blank")
          +icon(iconNames[i], (`${iconClassName} `+ (linkMod ? `${iconClassName}_${linkMod}` : '')))

mixin questionnaire(className, items, mod)
  div(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          span(class=`${className}__info ` + (mod ? mod : '') href="#")=`${item.title}:`
          span(class=`${className}__info` href="#")=item.text

-
  var commentsList=[
    {
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quam esse error ipsam veritatis ipsa nihil eos quod consequatur similique perspiciatis, iusto amet architecto. Eaque provident et magni. Laudantium, quasi?', 
      image:'content/user.jpg', 
      name: 'Lorem Lorem', 
      proffesion: 'Lorem Lorem dorem'
    },{
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quam esse error ipsam veritatis ipsa nihil eos quod consequatur similique perspiciatis, iusto amet architecto. Eaque provident et magni. Laudantium, quasi?', 
      image:'content/user.jpg', 
      name: 'Lorem Lorem', 
      proffesion: 'Lorem Lorem dorem'
    },{
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quam esse error ipsam veritatis ipsa nihil eos quod consequatur similique perspiciatis, iusto amet architecto. Eaque provident et magni. Laudantium, quasi?', 
      image:'content/user.jpg', 
      name: 'Lorem Lorem', 
      proffesion: 'Lorem Lorem dorem'
    },{
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quam esse error ipsam veritatis ipsa nihil eos quod consequatur similique perspiciatis, iusto amet architecto. Eaque provident et magni. Laudantium, quasi?', 
      image:'content/user.jpg', 
      name: 'Lorem Lorem', 
      proffesion: 'Lorem Lorem dorem'
    },{
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quam esse error ipsam veritatis ipsa nihil eos quod consequatur similique perspiciatis, iusto amet architecto. Eaque provident et magni. Laudantium, quasi?', 
      image:'content/user.jpg', 
      name: 'Lorem Lorem', 
      proffesion: 'Lorem Lorem dorem'
    }
  ]

mixin comments(className, items)
  ul(class=`${className}__list` ref='commentsList' :style="{left: offsetleft +'px'}")
    each item in items
      li(class=`${className}__item` ref='commentsItem')
        div(class=`${className}__quote-wrap`)
          +icon('quote', `${className}__quote`)
        div(class=`${className}__wrap`)
          span(class=`${className}__text`)=item.text
          div(class=`${className}__info`)
            div(class=`${className}__image`)
              +image(item.image, `${className}__pic`)
            div(class=`${className}__decription`)
              span(class=`${className}__name`)=item.name
              span(class=`${className}__proffesion`)=item.proffesion

mixin input(className, id, image)
  input(class=className type='text' id=id name=id)
  +icon(`${image}`, `${className}-pic`)

mixin textarea(className, id, image)
  textarea(class=className id=id name=id)
  +icon(`${image}`, `${className}-pic`)
